* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 242, 245);
}
.mainboard {
  /* background-color: aqua; */
  width: 80%;
  margin-left: 250px;
  margin-right: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}
.main-image {
  height: 70px;
}

.textbox {
  margin-left: 40px;
}
.login {
  font-size: 35px;
  margin-bottom: 15px;
}

.addaccount {
  font-size: 15px;
}
.main-photo {
  height: 180px;
  margin-top: 30px;
  margin-left: 30px;
}
.yash {
  font-size: 22px;
  margin-left: 70px;
}
.logindetail {
  display: flex;
}
.loginshortcut {
  border: 20px;
}
.login-card {
  background-color: white;
  height: 456px;
  width: 396px;
  border-radius: 20px;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(0, 0, 0, 0.1) 0px 8px 16px 0px;
  padding: 20px;
}
.login-item {
  margin-bottom: 10px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;

  text-align: center;
}
.login-item input {
  width: 100%;
  height: 50px;
  padding-left: 8px;
}
.login-item button {
  width: 100%;
  height: 50px;
  background-color: #0866ff;
  color: white;
  font-size: 28px;
}

.forgotten-container {
  text-align: center;
}

.login-card form {
  border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}
.new-account {
  text-align: center;
  background-color: #42b72a;
  width: 40%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-size-adjust: 28px;
}
